.notes-pinned,
.notes-others {
    font-size: 0.6875rem;
    color: #9aa0a6;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 1.5em;
    margin-bottom: 0.8em;
    margin-top: 5em;
}

.notes-flex-container {
    width: 94%;
    display: flex;
    flex-wrap: wrap;
}
