.note-taker-footer {
    width: 86%;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: transparent;
}

.note-taker-footer > select,
.note-taker-footer > button {
    background-color: transparent;
    cursor: pointer;
}

.bin {
    background-color: transparent;
    transform: scale(1.4);
    margin-left: 0.8em;
}
