.edit-component-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(32, 33, 36, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: opacity 0.218s ease-in;
}
