* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.note-taker {
    width: 30%;
    margin: 0 auto;
}
.note-taker-title {
    width: 86%;
}

.note-taker-body,
.note-taker-footer {
    width: 100%;
}

.note-taker-footer > .close {
    float: right;
}

.notes-container {
    margin-left: 300px;
}

.note {
    width: 13em;
    border-radius: 1em;
    padding: 1em;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
}

.label {
    font-size: 1.5rem;
}

.edit-component-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(63, 63, 66, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 50em;
}
